<div>
  <div class="nav-container">
    <a href="index.html" class="logo">
      <img src="assets/A.png" alt="DevSchool Logo" />
    </a>
    <nav>
      <ul>
        <li><a href="index.html#program">Program Pelatihan</a></li>
        <li><a href="index.html#informasi">Informasi Pelatihan</a></li>
        <li><a href="index.html#berita">Berita dan Artikel</a></li>
        <li><a href="index.html#galeri">Galeri</a></li>
        <li><a href="index.html#testimonial">Testimonial</a></li>
        <li><a href="index.html#kontak">Kontak</a></li>
      </ul>
    </nav>
    <div class="auth-buttons">
      <a href="masuk.html" id="btn-masuk"><button class="btn-masuk">Masuk</button></a>
      <a href="daftar.html" id="btn-daftar"><button class="btn-daftar">Daftar</button></a>

      <div class="user-icon" id="user-icon" style="display: none;">
        <a href="#" id="user-icon-link">
          <img src="assets/user.svg" alt="User Icon" style="width: 40px;" />
        </a>
        <!-- Dropdown Menu -->
        <div class="dropdown-menu" id="dropdown-menu">
          <ul>
            <li><a href="profile.html">Profile</a></li>
            <li><a href="settings.html">Pengaturan</a></li>
            <li><a href="#" id="logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
