* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

/* Gaya body */
body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}
