/* General Styles */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}

.logo {
  margin-left: 50px;
}

.logo img {
  height: 50px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin-right: 20px;
}

header nav ul li a {
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  transition: background 0.3s;
}

header nav ul li a:hover {
  background: #d3d3d3;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.btn-masuk,
.btn-daftar {
  background: #fff;
  color: black;
  border: 1px solid black;
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-daftar {
  background: #666661;
  color: white;
}

.btn-masuk:hover {
  background: #666666;
}

.btn-daftar:hover {
  background: #424242;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

/* Program Detail Section */
.program-detail-section {
  padding: 50px;
  text-align: center;
}

.program-img {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-bottom: 20px;
}

.program-info {
  max-width: 700px;
  margin: 0 auto;
}

.program-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.program-description {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.program-details {
  font-size: 1rem;
  margin-bottom: 40px;
}

.btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}
